<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/admin/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <!-- Dashboard Core -->
    <link href="../public/admin/assets/css/dashboard.css" rel="stylesheet"/>
    <!-- c3.js Charts Plugin -->
    <link href="../public/admin/assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>
    <!-- Google Maps Plugin -->
    <link href="../public/admin/assets/plugins/maps-google/plugin.css" rel="stylesheet"/>

    <!-- Input Mask Plugin -->

</head>
<body>

<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/admin/dashboard">
                        <img src="../public/admin/assets/images/favicon.ico" class="header-brand-img"> Admin
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div>
                            <form action="/{{ base }}WebRoot/logout" method="POST">
                                <button name="logout" class="btn btn-danger" id="logout">Logout</button>
                            </form>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-3 ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input type="search" class="form-control header-search" placeholder="Search&hellip;"
                                   tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="#" class="nav-link ">Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a href="http://localhost:8888/PHP_Rush_MVC/WebRoot/admin/users"
                                   class="nav-link ">Users</a>
                            </li>

                            <li class="nav-item">
                                <a href="#"
                                   class="nav-link ">Produits</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3 my-md-5">
            <div class="container">

                <div class="page-header d-flex justify-content-between">
                    <h1 class="page-title">Users</h1>

                    <a href="/{{ base }}WebRoot/admin/users/createUser" class="btn btn-primary">New</a>

                </div>
                {#  {% if isAdmin == true %}
                      <button>Test</button>
                  {% endif %}#}
                <div>
                    <div class="global_margin">
                    </div>

                    <table class="table text-center">
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Admin</td>
                            <td>Writer</td>
                            <td>User</td>
                            <td>Action</td>
                        </tr>

                        {% for user in users %}
                            <tr>
                                <td>{{ user.id ? user.id : "" }}</td>
                                <td>{{ user.username ? user.username : "" }}</td>
                                <td>{{ user.email ? user.email : "" }}</td>
                                <td>{{ user.role == "admin"? "<i class='fa fa-check-square text-success font-weight-bold'></i>" : "<i class='fa fa-window-close text-danger font-weight-bold'></i>" }}</td>
                                <td>{{ user.role == "writer"? "<i class='fa fa-check-square text-success font-weight-bold'></i>" : "<i class='fa fa-window-close text-danger font-weight-bold'></i>" }}</td>
                                <td>{{ user.role == "user"? "<i class='fa fa-check-square text-success font-weight-bold'></i>" : "<i class='fa fa-window-close text-danger font-weight-bold'></i>" }}</td>
                                <td>
                                    <a href="/{{ base }}WebRoot/admin/users/editUser?id={{ user.id }}" class="btn btn-sm btn-orange">Edit</a>
                                    <span data-id="{{ user.id }}" class="btn btn-sm btn-danger cursor __deleteUser">Delete</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../public/admin/assets/js/sweetalert.js"></script>

<script src="../public/admin/assets/js/require.min.js"></script>

{#<script>
    requirejs.config({
        baseUrl: '.'
    });
</script>#}

<script src="../public/admin/assets/js/dashboard.js"></script>
<script src="../public/admin/assets/plugins/charts-c3/plugin.js"></script>
<script src="../public/admin/assets/plugins/maps-google/plugin.js"></script>
<script src="../public/admin/assets/plugins/input-mask/plugin.js"></script>

<script src="../public/admin/assets/js/admin.js"></script>


{#@stack('_js')#}
</body>
</html>